/* The container */
.container {
  display: inline;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container p{
  position: relative;
  top:67px;
  font-size: 1.2em;
  font-weight: 700;
  left: -16px;
  width: 64px;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  opacity:0.5;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  left: 18px;
  top: 14px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark-green,
.container input:checked ~ .checkmark-green,
.container:hover input ~ .checkmark-green
{
  background-color:#008000;
}

.checkmark-orange,
.container input:checked ~ .checkmark-orange,
.container:hover input ~ .checkmark-orange
{
  background-color:#FF6600;
}

.checkmark-red,
.container input:checked ~ .checkmark-red,
.container:hover input ~ .checkmark-red
{
  background-color:#ff0000;
}

.checkmark-purple,
.container input:checked ~ .checkmark-purple,
.container:hover input ~ .checkmark-purple
{
  background-color:#9E2CD1;
}

.checkmark-pink,
.container input:checked ~ .checkmark-pink,
.container:hover input ~ .checkmark-pink
{
  background-color:#FF0066;
}

.checkmark-yellow,
.container input:checked ~ .checkmark-yellow,
.container:hover input ~ .checkmark-yellow
{
  background-color:#FFCC00;
}

.checkmark-light,
.container input:checked ~ .checkmark-light,
.container:hover input ~ .checkmark-light
{
  background-color:#d5d5d5;
  height: 60px;
  width:60px;
}

.checkmark-dark,
.container input:checked ~ .checkmark-dark,
.container:hover input ~ .checkmark-dark
{
  background-color:#384248;
  height: 60px;
  width:60px;
}

.checkmark-mix,
.container input:checked ~ .checkmark-mix,
.container:hover input ~ .checkmark-mix
{
  background-image: linear-gradient(90deg, #384248 50%, #d5d5d5 50% );
  height: 60px;
  width:60px;
}

.container .checkmark-light:after {
  left: 25px;
  top: 18px;
  width: 10px;
  height: 18px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container .checkmark-dark:after {
  left: 25px;
  top: 18px;
  width: 10px;
  height: 18px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container .checkmark-mix:after {
  left: 25px;
  top: 18px;
  width: 10px;
  height: 18px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#sidebar{
  height: 620px;
}

.scrollbar {
  position: relative;
  height: 470px;
  overflow: auto;
}

#table-wrapper-lowlatency,
#table-wrapper-xanmod,
#table-wrapper-liquorix,
#table-wrapper {
  display: block;
}

.scrollbar-webapp {
  position: relative;
  height: 470px;
  overflow: auto;
}

.bubble{
  display: none;
  position:fixed;
  top:8px;
  left:2%;
  width:96%;
  background-color:rgba(0, 0, 0, .95);
  color:#fff;
  border-radius:20px;
  box-shadow: 0 0 30px #000
}

.bubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid rgba(0, 0, 0, .95);
  border-top: 10px solid rgba(0, 0, 0, .95);
  border-bottom: 10px solid transparent;
  right: 19px;
  bottom: -19px;
}
