#!/usr/bin/env bash
#
#
# WELCOME PARA O TIGER OS
#
# Desenvolvido por eltonff 31/10/2020
# Com a ferramenta BigBashView
# Tecnologias utilizadas: bash, html, css, javascript e <3

icon_theme="$(xfconf-query -c xsettings -p /Net/IconThemeName)"
sys_theme="$(xfconf-query -c xsettings -p /Net/ThemeName)"
file_theme="/usr/share/themes/$sys_theme/gtk-3.0/gtk.css"
gtk_linear="$(grep -A6 thunar $file_theme|grep linear|tail -n1)"
color_hex="$(cut -d, -f3 <<< $gtk_linear|sed 's|);||')"
color_hex_hover="$(cut -d, -f2 <<< $gtk_linear|sed 's|);||')"

if [ $(grep -i 'dark' <<< $sys_theme) ];then
    dark_check="checked"
    css_check="dark"
    shadow_color='#fff'
    shadow_color_dark='box-shadow: 0px 0px 2px 2px #fff'
    shadow_color_mix='box-shadow: none'
    shadow_color_light='box-shadow: none'
    gtk_border="$(grep -A6 thunar $file_theme|grep border-color|tail -n1)"
    gtk_border_background="$(echo $gtk_border ${gtk_border/border/background})"
elif [ $(grep -i 'mix' <<< $sys_theme) ];then
    mix_check="checked"
    css_check="mix"
    shadow_color='#333'
    shadow_color_dark='box-shadow: none'
    shadow_color_mix='box-shadow: 0px 0px 2px 2px #888'
    shadow_color_light='box-shadow: none'
    gtk_background="$(grep -A1 '.thunar toolbar button:hover' $file_theme|grep background)"
    gtk_border_background="$gtk_background ${gtk_background/background/border-color}"
    gtk_border="${gtk_background/background/border-color}"
else
    light_check="checked"
    css_check="light"
    shadow_color='#333'
    shadow_color_dark='box-shadow: none'
    shadow_color_mix='box-shadow: none'
    shadow_color_light='box-shadow: 0px 0px 2px 2px #333'
    gtk_border="$(grep -A6 thunar $file_theme|grep border-color|tail -n1)"
    gtk_border_background="$(echo $gtk_border ${gtk_border/border/background})"
fi

if [ $(grep -i 'green' <<< $icon_theme) ];then
    green_check="checked"
    color="green"
elif [ $(grep -i 'orange' <<< $icon_theme) ];then
    orange_check="checked"
    color="orange"
elif [ $(grep -i 'red' <<< $icon_theme) ];then
    red_check="checked"
    color="red"
elif [ $(grep -i 'purple' <<< $icon_theme) ];then
    purple_check="checked"
    color="purple"
elif [ $(grep -i 'pink' <<< $icon_theme) ];then
    pink_check="checked"
    color="pink"
else
    yellow_check="checked"
    color="yellow"
fi

[ -e ~/.config/autostart/welcome-tigeros.desktop ] && checked='checked'

echo '
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap-'$css_check'.min.css">
    <link rel="stylesheet" type="text/css" href="css/radio.css">
    <style type="text/css">
      .checkmark{
          box-shadow: 0px 0px 2px 2px '$shadow_color'
      }
      .custom-control-input:checked~.custom-control-label::before,
      .custom-control-input:not(:disabled):active~.custom-control-label::before,
      .custom-switch .custom-control-label::after{
         '$gtk_border_background'
      }
      .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
         '$gtk_linear'
      }
      .custom-control-input:focus~.custom-control-label::before,
      .custom-control-input:focus:not(:checked)~.custom-control-label::before,
      .btn.focus,.btn:focus,.btn-primary.focus,.btn-primary:focus,
      .btn-primary:not(:disabled):not(.disabled).active:focus,
      .btn-primary:not(:disabled):not(.disabled):active:focus,
      .show>.btn-primary.dropdown-toggle:focus{
          box-shadow:none;
         '$gtk_border'
      }
      .btn-info:not(:disabled):not(.disabled).active:focus,
      .btn-info:not(:disabled):not(.disabled):active:focus,
      .show>.btn-info.dropdown-toggle:focus{
          box-shadow:none;
      }
      .custom-control-label::before{
         '$gtk_border'
      }
      .btn-primary,.btn-primary.focus, .btn-primary:focus{
          background-color: '$color_hex';
         '$gtk_border'
      }
      .border-primary{
          border-color: '$color_hex'!important;
      }
      .btn-primary:hover{
          background-color: '$color_hex_hover';
          border-color: '$color_hex_hover'!important;

      }
      .btn-primary:not(:disabled):not(.disabled).active,
      .btn-primary:not(:disabled):not(.disabled):active,
      .show>.btn-primary.dropdown-toggle{
        background-color: '$color_hex';
        border-color: '$color_hex'!important;
      }

    </style>
</head>
<body oncontextmenu="return false;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 bg-secondary rounded shadow" id="sidebar"><br>
                <a href="index.sh.htm">
                  <img src="icons/logo.png" alt="TigerOS" class="img-fluid rounded mx-auto d-block">
                </a><hr>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link btn-lg active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                     role="tab" aria-controls="v-pills-home" aria-selected="true">Temas e Cores</a>
                  <a class="nav-link btn-lg" id="v-pills-office-tab" data-toggle="pill" href="#v-pills-office"
                     role="tab" aria-controls="v-pills-office" aria-selected="false">Suíte Office</a>
                  <a class="nav-link btn-lg" id="v-pills-browser-tab" data-toggle="pill" href="#v-pills-browser"
                     role="tab" aria-controls="v-pills-browser" aria-selected="false">Navegadores</a>
                  <a class="nav-link btn-lg" id="v-pills-webapp-tab" data-toggle="pill" href="#v-pills-webapp"
                     role="tab" aria-controls="v-pills-webapp" aria-selected="false">WebApps</a>
                  <a class="nav-link btn-lg" id="v-pills-donate-tab" data-toggle="pill" href="#v-pills-donate"
                     role="tab" aria-controls="v-pills-donate" aria-selected="false">Sobre</a>
                </div><br><br><br><br><br>
                <div class="form-group">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1" '$checked'>
                        <label class="custom-control-label" for="customSwitch1">
                            <small class="form-text text-black-50">Não iniciar com o sistema</small>
                        </label>
                    </div>
                </div>

            </div>
            <div class="col-9">
                <div class="tab-content" id="v-pills-tabContent">

                    <div class="tab-pane fade active show text-center" id="v-pills-home"
                         role="tabpanel" aria-labelledby="v-pills-home-tab">

                        <p><h2>Tema</h2></p>

                        <div class="row">
                            <label class="container col-1"><p>Light</p>
                              <input type="radio" name="themechange" class="inputColor" value="light" '$light_check'>
                              <span class="checkmark checkmark-light" style="'$shadow_color_light'"></span>
                            </label>
                            <label class="container col-1"><p>Mix</p>
                              <input type="radio" name="themechange" class="inputColor" value="mix" '$mix_check'>
                              <span class="checkmark checkmark-mix" style="'$shadow_color_mix'"></span>
                            </label>
                            <label class="container col-1"><p>Dark</p>
                              <input type="radio" name="themechange" class="inputColor" value="dark" '$dark_check'>
                              <span class="checkmark checkmark-dark" style="'$shadow_color_dark'"></span>
                            </label><br><br><br>
                        </div>

                        <hr><p><h2>Cor de destaque</h2></p>
                        <div class="row">
                            <div style="width: 15px">&nbsp;</div>
                            <label class="container col-sm-1">
                              <input type="radio" name="iconchange" class="inputColor"
                                     value="orange" '$orange_check'>
                              <span class="checkmark checkmark-orange" title="Laranja"></span>
                            </label>
                            <label class="container col-sm-1">
                              <input type="radio" name="iconchange" class="inputColor"
                                     value="green" '$green_check'>
                              <span class="checkmark checkmark-green" title="Verde"></span>
                            </label>
                            <label class="container col-sm-1">
                              <input type="radio" name="iconchange" class="inputColor"
                                     value="yellow" '$yellow_check'>
                              <span class="checkmark checkmark-yellow" title="Amarelo"></span>
                            </label>
                            <label class="container col-sm-1">
                              <input type="radio" name="iconchange" class="inputColor"
                                     value="red" '$red_check'>
                              <span class="checkmark checkmark-red" title="Vermelho"></span>
                            </label>
                            <label class="container col-sm-1">
                              <input type="radio" name="iconchange" class="inputColor"
                                     value="pink" '$pink_check'>
                              <span class="checkmark checkmark-pink" title="Rosa"></span>
                            </label>
                            <label class="container col-sm-1">
                              <input type="radio" name="iconchange" class="inputColor"
                                     value="purple" '$purple_check'>
                              <span class="checkmark checkmark-purple" title="Roxo"></span>
                            </label>
                        </div><br>

                        <hr><p><h2>Tarefas adicionais</h2></p>
                        <div class="row">
                            <div class="col-4">
                                <button value="driver" class="btn btn-primary btn-block btn-install">
                                Instalar Drivers
                                </button>
                            </div>
                            <div class="col-4">
                                <button value="update" class="btn btn-primary btn-block btn-install">
                                Atualizar Sistema
                                </button>
                            </div>
                            <div class="col-4">'
                            if [ -e /usr/share/apport/package-hooks/source_clamav.py ];then
                                echo '<button value="clamtk Antivírus" class="btn btn-info btn-block btn-remove">
                                        Remover Antivírus
                                      </button>'
                            else
                                echo '<button value="clamav" class="btn btn-primary btn-block btn-install">
                                          Instalar Antivírus
                                      </button>'
                            fi
                            echo '  </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-4">'
                            if [ "$(type -p remmina)" ];then
                                echo '<button value="remmina Remmina"
                                              class="btn btn-info btn-block btn-remove">
                                        Remover Remmina
                                      </button>'
                            else
                                echo '<button value="remmina"
                                              class="btn btn-primary btn-block btn-install">
                                        Instalar Remmina
                                      </button>'
                            fi
                            echo '  </div>
                            <div class="col-4">
                                <button value="codecs"
                                        class="btn btn-primary btn-block btn-install">
                                  Instalar Codecs
                                </button>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane fade text-center" id="v-pills-office"
                         role="tabpanel" aria-labelledby="v-pills-office-tab">

                        <p><h2>Escolha seu Pacote Office</h2></p>

                        <div class="row">
                            <div class="col-4">
                                <div class="card border-primary mb-3" style="max-width: 12rem;">
                                  <div class="card-header text-center">
                                    <img src="icons/libreoffice.png" alt="LibreOffice" height="48" width="48">
                                    <h4>LibreOffice</h4>
                                  </div>
                                  <div class="card-body">'
                                  if [ "$(type -p soffice)" ];then
                                      echo '<button value="libreoffice-* LibreOffice"
                                                    class="btn btn-info btn-lg btn-block btn-remove">
                                              Remover
                                            </button>'
                                  else
                                      echo '<button value="libreoffice"
                                                    class="btn btn-primary btn-lg btn-block btn-install">
                                              Instalar
                                            </button>'
                                  fi
                                echo '</div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card border-primary mb-3" style="max-width: 12rem;">
                                  <div class="card-header text-center">
                                    <img src="icons/wps.png" alt="WPSOffice" height="48" width="48">
                                    <h4>WPS Office</h4>
                                  </div>
                                  <div class="card-body">'
                                  if [ "$(type -p wps)" ];then
                                      echo '<button value="wps-* WPS-Office"
                                                    class="btn btn-info btn-lg btn-block btn-remove">
                                              Remover
                                            </button>'
                                  else
                                      echo '<button value="wps"
                                                    class="btn btn-primary btn-lg btn-block btn-install">
                                              Instalar
                                            </button>'
                                  fi
                                echo '</div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card border-primary mb-3" style="max-width: 12rem;">
                                    <div class="card-header text-center">
                                        <img src="icons/freeoffice.png" alt="FreeOffice" height="48" width="48">
                                        <h4>FreeOffice</h4>
                                    </div>
                                    <div class="card-body">'
                                    if [ "$(type -p textmaker18free)" ];then
                                        echo '<button value="softmaker-freeoffice-2018 FreeOffice"
                                                      class="btn btn-info btn-lg btn-block btn-remove">
                                                Remover
                                              </button>'
                                    else
                                        echo '<button value="freeoffice"
                                                      class="btn btn-primary btn-lg btn-block btn-install">
                                                Instalar
                                              </button>'
                                    fi
                                echo '</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <div class="card border-primary mb-3" style="max-width: 12rem;">
                                    <div class="card-header text-center">
                                        <img src="icons/onlyoffice.png" alt="OnlyOffice" height="48" width="48">
                                        <h4>OnlyOffice</h4>
                                    </div>
                                    <div class="card-body">'
                                     if [ "$(type -P onlyoffice-desktopeditors)" ];then
                                        echo '<button value="onlyoffice-desktopeditors OnlyOffice"
                                                class="btn btn-info btn-lg btn-block btn-remove">
                                                Remover
                                               </button>'
                                    else
                                        echo '<button value="onlyoffice"
                                                class="btn btn-primary btn-lg btn-block btn-install">
                                                Instalar
                                              </button>'
                                    fi
                                echo '</div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="card border-primary mb-3" style="max-width: 12rem;">
                                    <div class="card-header text-center">
                                        <img src="icons/msoffice.png" alt="MSOffice" height="48" width="48">
                                        <h4>Office 365</h4>
                                    </div>
                                    <div class="card-body">'
                                     if [ "$(type -p msword)" ];then
                                        echo '<button value="msoffice"
                                                class="btn btn-info btn-lg btn-block btn-remove">
                                                Remover
                                               </button>'
                                    else
                                        echo '<button value="msoffice"
                                                class="btn btn-primary btn-lg btn-block btn-install">
                                                Instalar
                                              </button>'
                                    fi
                                echo '</div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="card border-primary mb-3" style="max-width: 12rem;">
                                    <div class="card-header text-center">
                                        <img src="icons/googledocs.png" alt="GoogleDocs" height="48" width="48">
                                        <h4>Google Docs</h4>
                                    </div>
                                    <div class="card-body">'
                                    if [ "$(type -P gdocs)" ];then
                                        echo '<button value="googledocs"
                                                class="btn btn-info btn-lg btn-block btn-remove">
                                                Remover
                                               </button>'
                                    else
                                        echo '<button value="googledocs"
                                                class="btn btn-primary btn-lg btn-block btn-install">
                                                Instalar
                                              </button>'
                                    fi
                                echo '</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade text-center" id="v-pills-browser"
                         role="tabpanel" aria-labelledby="v-pills-browser-tab">

                        <p><h2>Escolha seu Navegador</h2></p>

                        <div class="row">
                            <div class="col-4">
                                <div class="card border-primary mb-3" style="max-width: 12rem;">
                                    <div class="card-header text-center">
                                        <img src="icons/chrome.png" alt="GoogleChrome" height="48" width="48">
                                        <h5>Chrome</h5>
                                    </div>
                                    <div class="card-body">'
                                    if [ "$(type -p google-chrome)" ];then
                                        echo '<button value="google-chrome-stable Google-Chrome"
                                                class="btn btn-info btn-lg btn-block btn-remove">
                                                Remover
                                               </button>'
                                    else
                                        echo '<button value="chrome"
                                                class="btn btn-primary btn-lg btn-block btn-install">
                                                Instalar
                                              </button>'
                                    fi
                                echo '</div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="card border-primary mb-3" style="max-width: 12rem;">
                                    <div class="card-header text-center">
                                        <img src="icons/vivaldi.png" alt="Vivaldi" height="48" width="48">
                                        <h5>Vivaldi</h5>
                                    </div>
                                    <div class="card-body">'
                                    if [ "$(type -P vivaldi)" ];then
                                        echo '<button value="vivaldi-stable Vivaldi"
                                                class="btn btn-info btn-lg btn-block btn-remove">
                                                Remover
                                               </button>'
                                    else
                                        echo '<button value="vivaldi"
                                                class="btn btn-primary btn-lg btn-block btn-install">
                                                Instalar
                                              </button>'
                                    fi
                                echo '</div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="card border-primary mb-3" style="max-width: 12rem;">
                                    <div class="card-header text-center">
                                        <img src="icons/brave.png" alt="Brave" height="48" width="48">
                                        <h5>Brave</h5>
                                    </div>
                                    <div class="card-body">'
                                    if [ "$(type -P brave-browser)" ];then
                                        echo '<button value="brave-browser Brave-Browser"
                                                class="btn btn-info btn-lg btn-block btn-remove">
                                                Remover
                                               </button>'
                                    else
                                        echo '<button value="brave"
                                                class="btn btn-primary btn-lg btn-block btn-install">
                                                Instalar
                                              </button>'
                                    fi
                                echo '</div>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-4">
                                <div class="card border-primary mb-3" style="max-width: 12rem;">
                                    <div class="card-header text-center">
                                        <img src="icons/opera.png" alt="Opera" height="48" width="48">
                                        <h5>Opera</h5>
                                    </div>
                                    <div class="card-body">'
                                    if [ "$(type -P opera)" ];then
                                        echo '<button value="opera-stable Opera"
                                                class="btn btn-info btn-lg btn-block btn-remove">
                                                Remover
                                               </button>'
                                    else
                                        echo '<button value="opera"
                                                class="btn btn-primary btn-lg btn-block btn-install">
                                                Instalar
                                              </button>'
                                    fi
                                echo '</div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="card border-primary mb-3" style="max-width: 12rem;">
                                    <div class="card-header text-center">
                                        <img src="icons/firefox.png" alt="Firefox" height="48" width="48">
                                        <h5>Firefox</h5>
                                    </div>
                                    <div class="card-body">'
                                    if [ "$(type -P firefox)" ];then
                                        echo '<button value="firefox Firefox"
                                                class="btn btn-info btn-lg btn-block btn-remove">
                                                Remover
                                               </button>'
                                    else
                                        echo '<button value="firefox"
                                                class="btn btn-primary btn-lg btn-block btn-install">
                                                Instalar
                                              </button>'
                                    fi
                                echo '</div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="card border-primary mb-3" style="max-width: 12rem;" id="div-tor">
                                    <div class="card-header text-center">
                                        <img src="icons/tor.png" alt="Tor" height="48" width="48">
                                        <h5>Tor</h5>
                                    </div>
                                    <div class="card-body">'
                                    if [ -d ~/.tor ];then
                                        echo '<button value="tor"
                                                class="btn btn-info btn-lg btn-block btn-remove">
                                                Remover
                                               </button>'
                                    else
                                        echo '<button value="tor"
                                                class="btn btn-primary btn-lg btn-block btn-install">
                                                Instalar
                                              </button>'
                                    fi
                                echo '</div>
                                </div>
                            </div>

                            <div class="alert bubble">
                                <div class="text-left">
                                  Tor é um navegador focado na privacidade,
                                  proporcionando a comunicação anônima e segura
                                  ao navegar na Internet e em atividades online,
                                  protegendo a privacidade bem como sua liberdade
                                  e capacidade de conduzir comunicação confidencial,
                                  mantendo suas atividades na Internet não monitoradas.<br>
                                  <b>Uma observação importante:</b>
                                  O usuário deve ter cuidado se for usar a rede Tor
                                  para tráfegos não-criptografados, pois a segurança ao
                                  nível de transporte que o Tor implementa é só até o nó
                                  Tor de saída (exit node).
                                  Desse ponto até o destino da rede “convencional”,
                                  o tráfego é encaminhado da maneira original como
                                  foi entregue ao Tor na máquina local. Então, se o
                                  usuário configurar o seu Tor para operar como
                                  servidor de relay, terá a possibilidade de logar
                                  o tráfego original de todas as pessoas que estiverem
                                  passando por túneis cujo nó de saída seja o seu nó Tor,
                                  é um pacote de ferramentas para organizações e pessoas
                                  que desejam mais segurança na Internet.</div>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-webapp"
                         role="tabpanel" aria-labelledby="v-pills-webapp-tab">
                      <p><h2 class="text-center">Instalar WebApps</h2></p>

                        <ul class="nav nav-tabs">

                          <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#utility">
                                <b style="font-size: 13pt">Acessórios</b>
                            </a>
                          </li>

                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#development">
                                <b style="font-size: 13pt">Desenvolvimento</b>
                            </a>
                          </li>

                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#office">
                                <b style="font-size: 13pt">Escritório</b>
                            </a>
                          </li>

                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#graphics">
                                <b style="font-size: 13pt">Gráficos</b>
                            </a>
                          </li>

                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#internet">
                                <b style="font-size: 13pt">Internet</b>
                            </a>
                          </li>

                        </ul>

                        <div class="tab-content">

                            <div class="tab-pane fade active show" id="utility">
                                <div style="line-height:8px">&nbsp;</div>

                                <div class="scrollbar-webapp" id="table-wrapper">
                                    <table class="table table-hover table-responsive text-center">
                                        <thead class="thead-light">
                                            <tr>
                                              <th scope="col">Ícone</th>
                                              <th scope="col">Nome</th>
                                              <th scope="col">Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="/usr/share/pixmaps/gcontacts.png"
                                                         alt="image48x48" width="48" height="48">
                                                </td>
                                                <td class="align-middle"><h4>Google Contacts</h4></td>'
                                                if [ $(type -P gcontacts) ];then
                                                    echo '<td><button class="btn btn-info btn-block btn-remove"
                                                         value="gcontacts">Remover</button></td>'
                                                else
                                                    echo '<td><button class="btn btn-primary btn-block btn-install"
                                                            value="gcontacts-webapp">Instalar</button></td>'
                                                fi
                                            echo '
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="/usr/share/pixmaps/gcalendar.png"
                                                         alt="image48x48" width="48" height="48">
                                                </td>
                                                <td class="align-middle"><h4>Google Calendar</h4></td>'
                                                if [ $(type -P gcalendar) ];then
                                                    echo '<td><button class="btn btn-info btn-block btn-remove"
                                                         value="gcalendar">Remover</button></td>'
                                                else
                                                    echo '<td><button class="btn btn-primary btn-block btn-install"
                                                            value="gcalendar-webapp">Instalar</button></td>'
                                                fi
                                            echo '
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="/usr/share/pixmaps/gkeep.png"
                                                         alt="image48x48" width="48" height="48">
                                                </td>
                                                <td class="align-middle"><h4>Google Keep</h4></td>'
                                                if [ $(type -P gkeep) ];then
                                                    echo '<td><button class="btn btn-info btn-block btn-remove"
                                                         value="gkeep">Remover</button></td>'
                                                else
                                                    echo '<td><button class="btn btn-primary btn-block btn-install"
                                                            value="gkeep-webapp">Instalar</button></td>'
                                                fi
                                            echo '
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="/usr/share/pixmaps/cvyou.png"
                                                         alt="image48x48" width="48" height="48">
                                                </td>
                                                <td class="align-middle"><h4>CV2You (Currículo Online)</h4></td>'
                                                if [ $(type -P cvyou) ];then
                                                    echo '<td><button class="btn btn-info btn-block btn-remove"
                                                         value="cvyou">Remover</button></td>'
                                                else
                                                    echo '<td><button class="btn btn-primary btn-block btn-install"
                                                            value="cvyou-webapp">Instalar</button></td>'
                                                fi
                                            echo '
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="development">
                                <div style="line-height:8px">&nbsp;</div>

                                <div class="scrollbar-webapp" id="table-wrapper">
                                    <table class="table table-hover table-responsive text-center">
                                        <thead class="thead-light">
                                            <tr>
                                              <th scope="col">Ícone</th>
                                              <th scope="col">Nome</th>
                                              <th scope="col">Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="/usr/share/pixmaps/github.png"
                                                         alt="image48x48" width="48" height="48">
                                                </td>
                                                <td class="align-middle"><h4>GitHub</h4></td>'
                                                if [ $(type -P github) ];then
                                                    echo '<td><button class="btn btn-info btn-block btn-remove"
                                                         value="github">Remover</button></td>'
                                                else
                                                    echo '<td><button class="btn btn-primary btn-block btn-install"
                                                            value="github-webapp">Instalar</button></td>'
                                                fi
                                            echo '
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="/usr/share/pixmaps/gist.png"
                                                         alt="image48x48" width="48" height="48">
                                                </td>
                                                <td class="align-middle"><h4>Gist</h4></td>'
                                                if [ $(type -P gist) ];then
                                                    echo '<td><button class="btn btn-info btn-block btn-remove"
                                                         value="gist">Remover</button></td>'
                                                else
                                                    echo '<td><button class="btn btn-primary btn-block btn-install"
                                                            value="gist-webapp">Instalar</button></td>'
                                                fi
                                            echo '
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="/usr/share/pixmaps/glitch.png"
                                                         alt="image48x48" width="48" height="48">
                                                </td>
                                                <td class="align-middle"><h4>Glitch</h4></td>'
                                                if [ $(type -P glitch) ];then
                                                    echo '<td><button class="btn btn-info btn-block btn-remove"
                                                         value="glitch">Remover</button></td>'
                                                else
                                                    echo '<td><button class="btn btn-primary btn-block btn-install"
                                                            value="glitch-webapp">Instalar</button></td>'
                                                fi
                                            echo '
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="/usr/share/pixmaps/codepen.png"
                                                         alt="image48x48" width="48" height="48">
                                                </td>
                                                <td class="align-middle"><h4>CodePen</h4></td>'
                                                if [ $(type -P codepen) ];then
                                                    echo '<td><button class="btn btn-info btn-block btn-remove"
                                                         value="codepen">Remover</button></td>'
                                                else
                                                    echo '<td><button class="btn btn-primary btn-block btn-install"
                                                            value="codepen-webapp">Instalar</button></td>'
                                                fi
                                            echo '
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="/usr/share/pixmaps/diagrams.png"
                                                         alt="image48x48" width="48" height="48">
                                                </td>
                                                <td class="align-middle"><h4>Diagrams</h4></td>'
                                                if [ $(type -P diagrams) ];then
                                                    echo '<td><button class="btn btn-info btn-block btn-remove"
                                                         value="diagrams">Remover</button></td>'
                                                else
                                                    echo '<td><button class="btn btn-primary btn-block btn-install"
                                                            value="diagrams-webapp">Instalar</button></td>'
                                                fi
                                            echo '
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="office">
                                <div style="line-height:8px">&nbsp;</div>

                                <div class="scrollbar-webapp" id="table-wrapper">
                                    <table class="table table-hover table-responsive text-center">
                                        <thead class="thead-light">
                                            <tr>
                                              <th scope="col">Ícone</th>
                                              <th scope="col">Nome</th>
                                              <th scope="col">Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="/usr/share/pixmaps/gforms.png"
                                                         alt="image48x48" width="48" height="48">
                                                </td>
                                                <td class="align-middle"><h4>Google Forms</h4></td>'
                                                if [ $(type -P gforms) ];then
                                                    echo '<td><button class="btn btn-info btn-block btn-remove"
                                                         value="gforms">Remover</button></td>'
                                                else
                                                    echo '<td><button class="btn btn-primary btn-block btn-install"
                                                            value="gforms-webapp">Instalar</button></td>'
                                                fi
                                            echo '
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="graphics">
                                <div style="line-height:8px">&nbsp;</div>

                                <div class="scrollbar-webapp" id="table-wrapper">
                                    <table class="table table-hover table-responsive text-center">
                                        <thead class="thead-light">
                                            <tr>
                                              <th scope="col">Ícone</th>
                                              <th scope="col">Nome</th>
                                              <th scope="col">Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="/usr/share/pixmaps/spark.png"
                                                         alt="image48x48" width="48" height="48">
                                                </td>
                                                <td class="align-middle"><h4>Adobe Spark</h4></td>'
                                                if [ $(type -P spark) ];then
                                                    echo '<td><button class="btn btn-info btn-block btn-remove"
                                                         value="spark">Remover</button></td>'
                                                else
                                                    echo '<td><button class="btn btn-primary btn-block btn-install"
                                                            value="spark-webapp">Instalar</button></td>'
                                                fi
                                            echo '
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="/usr/share/pixmaps/canva.png"
                                                         alt="image48x48" width="48" height="48">
                                                </td>
                                                <td class="align-middle"><h4>Canva</h4></td>'
                                                if [ $(type -P canva) ];then
                                                    echo '<td><button class="btn btn-info btn-block btn-remove"
                                                         value="canva">Remover</button></td>'
                                                else
                                                    echo '<td><button class="btn btn-primary btn-block btn-install"
                                                            value="canva-webapp">Instalar</button></td>'
                                                fi
                                            echo '
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="/usr/share/pixmaps/logomaker.png"
                                                         alt="image48x48" width="48" height="48">
                                                </td>
                                                <td class="align-middle"><h4>Logo Maker</h4></td>'
                                                if [ $(type -P logomaker) ];then
                                                    echo '<td><button class="btn btn-info btn-block btn-remove"
                                                         value="logomaker">Remover</button></td>'
                                                else
                                                    echo '<td><button class="btn btn-primary btn-block btn-install"
                                                            value="logomaker-webapp">Instalar</button></td>'
                                                fi
                                            echo '
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="/usr/share/pixmaps/photopea.png"
                                                         alt="image48x48" width="48" height="48">
                                                </td>
                                                <td class="align-middle"><h4>Photopea</h4></td>'
                                                if [ $(type -P photopea) ];then
                                                    echo '<td><button class="btn btn-info btn-block btn-remove"
                                                         value="photopea">Remover</button></td>'
                                                else
                                                    echo '<td><button class="btn btn-primary btn-block btn-install"
                                                            value="photopea-webapp">Instalar</button></td>'
                                                fi
                                            echo '
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="/usr/share/pixmaps/photoshop.png"
                                                         alt="image48x48" width="48" height="48">
                                                </td>
                                                <td class="align-middle"><h4>Photoshop Online</h4></td>'
                                                if [ $(type -P photoshop) ];then
                                                    echo '<td><button class="btn btn-info btn-block btn-remove"
                                                         value="photoshop">Remover</button></td>'
                                                else
                                                    echo '<td><button class="btn btn-primary btn-block btn-install"
                                                            value="photoshop-webapp">Instalar</button></td>'
                                                fi
                                            echo '
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="internet">
                                <div style="line-height:8px">&nbsp;</div>

                                <div class="scrollbar-webapp" id="table-wrapper">
                                    <table class="table table-hover table-responsive text-center">
                                        <thead class="thead-light">
                                            <tr>
                                              <th scope="col">Ícone</th>
                                              <th scope="col">Nome</th>
                                              <th scope="col">Ação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="/usr/share/pixmaps/gmeet.png"
                                                         alt="image48x48" width="48" height="48">
                                                </td>
                                                <td class="align-middle"><h4>Google Meet</h4></td>'
                                                if [ $(type -P gmeet) ];then
                                                    echo '<td><button class="btn btn-info btn-block btn-remove"
                                                         value="gmeet">Remover</button></td>'
                                                else
                                                    echo '<td><button class="btn btn-primary btn-block btn-install"
                                                            value="gmeet-webapp">Instalar</button></td>'
                                                fi
                                            echo '
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="/usr/share/pixmaps/medium.png"
                                                         alt="image48x48" width="48" height="48">
                                                </td>
                                                <td class="align-middle"><h4>Medium</h4></td>'
                                                if [ $(type -P medium) ];then
                                                    echo '<td><button class="btn btn-info btn-block btn-remove"
                                                         value="medium">Remover</button></td>'
                                                else
                                                    echo '<td><button class="btn btn-primary btn-block btn-install"
                                                            value="medium-webapp">Instalar</button></td>'
                                                fi
                                            echo '
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="tab-pane fade" id="v-pills-donate"
                         role="tabpanel" aria-labelledby="v-pills-donate-tab">

                        <p><h2 class="text-center">Sobre</h2></p>

                        <p> O TigerOS usa o Linux como sua base para oferecer aos usuários um
                            sistema operacional completo para computadores e notebooks, tanto de
                            empresas como domésticos. É um sistema muito leve e com poucos
                            programas pré-instalados, não exigindo máquinas mais robustas ou modernas.
                        </p><hr>

                        <p><h2 class="text-center">Equipe</h2></p>
                        <ul style="list-style:none">
                            <li>Daigo Asuka - idealizador</li>
                            <li>Elton Ferreira - developer (painel Boas-vindas, Configurações do kernel, etc.)</li>
                            <li>Natanael Barbosa - developer (AppImage Installer, simplifica Xfce, etc)</li>
                        </ul><hr>

                        <p><h2 class="text-center">Colaboradores</h2></p>
                        <ul style="list-style:none">
                            <li>Rodrigo Chile: wallpapers TigerOSbeta, TigerOSalternative</li>
                            <li>Miguel Linuxer: wallpapers g890</li>
                            <li>Joaquim Miguel: wallpapers tgOSjm21 e tgJM21</li>
                            <li>dev_null: plymouth</li>
                        </ul><hr>

                        <div class="row">&nbsp;&nbsp;&nbsp;&nbsp;

                            <button class="btn btn-outline-success col-3"
                                    onclick="_run('\'xdg-open https://www.padrim.com.br/mestresemlinux\'')">
                                CONTRIBUIÇÃO
                            </button>&nbsp;&nbsp;
                            <button class="btn btn-outline-success col-3"
                                    onclick="_run('\'xdg-open https://mestresemlinux.com.br/wp/tigeros\'')">
                                SITE OFICIAL
                            </button>&nbsp;&nbsp;
                            <button class="btn btn-outline-success col-3"
                                    onclick="_run('\'xdg-open https://youtube.com/mestresemlinux\'')">
                                CANAL YOUTUBE
                            </button>&nbsp;&nbsp;
                            <button class="btn btn-outline-success col-2"
                                    onclick="_run('\'xdg-open https://instagram.com/mestresemlinux\'')">
                                INSTAGRAM
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</body>'
